@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Dosis:wght@200..800&family=Fauna+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
* {
  margin: 0;
  padding: 0; }
  * ::-webkit-scrollbar {
    width: 3px;
    /* Ancho de la barra de desplazamiento */ }
  * ::-webkit-scrollbar-track {
    background-color: #6a6868;
    /* Color de fondo de la pista de desplazamiento */ }
  * ::-webkit-scrollbar-thumb {
    background-color: #101010;
    /* Color del botón de desplazamiento */
    border-radius: 5px;
    /* Radio de borde del botón de desplazamiento */ }

body {
  background-color: rgba(0, 0, 0, 0.984);
  overflow-x: hidden; }

@font-face {
  font-family: 'MiFuente';
  /* Nombre que asignas a la fuente */
  src: url("../../resource/LoveSeed-z8EVX.ttf") format("truetype"); }

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px; }
  .nav .logo {
    margin-left: 13px;
    margin-top: 13px;
    align-content: center; }
  .nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 20px; }
    .nav ul li {
      list-style-type: none;
      padding: 10px;
      margin-top: 5px; }
      .nav ul li a {
        text-align: center;
        text-decoration: none;
        color: white;
        font-size: 23px;
        padding: 27px 50px;
        display: inline-block;
        position: relative; }
        .nav ul li a:before, .nav ul li a:after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          box-sizing: border-box;
          transform: scale(0);
          transition: 0.5s; }
        .nav ul li a:before {
          border-bottom: 2px solid #c6c0c0;
          border-left: 2px solid #c6c0c0;
          transform-origin: 0 100%; }
        .nav ul li a:after {
          border-top: 2px solid #c6c0c0;
          border-right: 2px solid #c6c0c0;
          transform-origin: 100% 0%; }
        .nav ul li a:hover:after, .nav ul li a:hover:before {
          transform: scale(1); }

.main-index {
  display: flex;
  justify-content: center;
  /* Centra horizontalmente la imagen */
  align-items: center;
  /* Centra verticalmente la imagen */
  height: 100vh;
  padding: 0 10%;
  /* Márgenes a los lados */ }
  .main-index img {
    max-width: 100%;
    /* Asegura que la imagen no exceda el ancho del contenedor */
    max-height: 100%; }
  .main-index .enter {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Centra el elemento en relación al 50% del ancho y alto del contenedor padre */
    text-align: center;
    text-decoration: none;
    color: white; }
    .main-index .enter a {
      font-size: 23px;
      font-weight: 500;
      font-family: "Crimson Text", serif;
      display: inline-block;
      position: relative;
      color: #c6c0c0;
      text-decoration: none;
      padding: 10px; }
      .main-index .enter a:before, .main-index .enter a:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        transform: scale(0);
        transition: 0.5s; }
      .main-index .enter a:before {
        border-bottom: 2px solid #c6c0c0;
        border-left: 2px solid #c6c0c0;
        transform-origin: 0 100%; }
      .main-index .enter a:after {
        border-top: 2px solid #c6c0c0;
        border-right: 2px solid #c6c0c0;
        transform-origin: 100% 0%; }
      .main-index .enter a:hover:after, .main-index .enter a:hover:before {
        transform: scale(1); }

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 7px 9px;
  padding: 13px 60px;
  grid-auto-flow: row;
  grid-template-areas: "img1 img2 img3" "img4 img6 img7" "img4 img5 img8"; }
  .container .img1 {
    grid-area: img1;
    position: relative;
    overflow: hidden;
    cursor: pointer; }
    .container .img1 img {
      width: 100%;
      height: 100%;
      transition: transform 0.2s, opacity 0.2s;
      /* Ajustar la imagen dentro del contenedor */ }
    .container .img1:hover img {
      transform: scale(1.1);
      opacity: 0.6; }
    .container .img1:hover .overlay {
      opacity: 1; }
    .container .img1 .overlay {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      padding: 10px;
      text-align: center;
      opacity: 0;
      transition: opacity 0.3s; }
      .container .img1 .overlay h3 {
        margin: 0px 130px;
        float: center;
        padding: 13px;
        background-color: rgba(0, 0, 0, 0.558); }
      .container .img1 .overlay p {
        width: 100%;
        padding-top: 13px; }
  .container .img2 {
    grid-area: img2;
    position: relative;
    overflow: hidden;
    cursor: pointer; }
    .container .img2 img {
      width: 100%;
      height: 100%;
      transition: transform 0.2s, opacity 0.2s;
      /* Ajustar la imagen dentro del contenedor */ }
    .container .img2:hover img {
      transform: scale(1.1);
      opacity: 0.6; }
    .container .img2:hover .overlay {
      opacity: 1; }
    .container .img2 .overlay {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      padding: 10px;
      text-align: center;
      opacity: 0;
      transition: opacity 0.3s; }
      .container .img2 .overlay h3 {
        margin: 0px 130px;
        float: center;
        padding: 13px;
        background-color: rgba(0, 0, 0, 0.558); }
      .container .img2 .overlay p {
        width: 100%;
        padding-top: 13px; }
  .container .img3 {
    grid-area: img3;
    position: relative;
    overflow: hidden;
    cursor: pointer; }
    .container .img3 img {
      width: 100%;
      height: 100%;
      transition: transform 0.2s, opacity 0.2s;
      /* Ajustar la imagen dentro del contenedor */ }
    .container .img3:hover img {
      transform: scale(1.1);
      opacity: 0.6; }
    .container .img3:hover .overlay {
      opacity: 1; }
    .container .img3 .overlay {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      padding: 10px;
      text-align: center;
      opacity: 0;
      transition: opacity 0.3s; }
      .container .img3 .overlay h3 {
        margin: 0px 130px;
        float: center;
        padding: 13px;
        background-color: rgba(0, 0, 0, 0.558); }
      .container .img3 .overlay p {
        width: 100%;
        padding-top: 13px; }
  .container .img4 {
    grid-area: img4;
    position: relative;
    overflow: hidden;
    cursor: pointer; }
    .container .img4 img {
      width: 100%;
      height: 100%;
      transition: transform 0.2s, opacity 0.2s;
      /* Ajustar la imagen dentro del contenedor */ }
    .container .img4:hover img {
      transform: scale(1.1);
      opacity: 0.6; }
    .container .img4:hover .overlay {
      opacity: 1; }
    .container .img4 .overlay {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      padding: 10px;
      text-align: center;
      opacity: 0;
      transition: opacity 0.3s; }
      .container .img4 .overlay h3 {
        margin: 0px 130px;
        float: center;
        padding: 13px;
        background-color: rgba(0, 0, 0, 0.558); }
      .container .img4 .overlay p {
        width: 100%;
        padding-top: 13px; }
  .container .img5 {
    grid-area: img5;
    position: relative;
    overflow: hidden;
    cursor: pointer; }
    .container .img5 img {
      width: 100%;
      height: 100%;
      transition: transform 0.2s, opacity 0.2s;
      /* Ajustar la imagen dentro del contenedor */ }
    .container .img5:hover img {
      transform: scale(1.1);
      opacity: 0.6; }
    .container .img5:hover .overlay {
      opacity: 1; }
    .container .img5 .overlay {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      padding: 10px;
      text-align: center;
      opacity: 0;
      transition: opacity 0.3s; }
      .container .img5 .overlay h3 {
        margin: 0px 130px;
        float: center;
        padding: 13px;
        background-color: rgba(0, 0, 0, 0.558); }
      .container .img5 .overlay p {
        width: 100%;
        padding-top: 13px; }
  .container .img6 {
    grid-area: img6;
    position: relative;
    overflow: hidden;
    cursor: pointer; }
    .container .img6 img {
      width: 100%;
      height: 100%;
      transition: transform 0.2s, opacity 0.2s;
      /* Ajustar la imagen dentro del contenedor */ }
    .container .img6:hover img {
      transform: scale(1.1);
      opacity: 0.6; }
    .container .img6:hover .overlay {
      opacity: 1; }
    .container .img6 .overlay {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      padding: 10px;
      text-align: center;
      opacity: 0;
      transition: opacity 0.3s; }
      .container .img6 .overlay h3 {
        margin: 0px 130px;
        float: center;
        padding: 13px;
        background-color: rgba(0, 0, 0, 0.558); }
      .container .img6 .overlay p {
        width: 100%;
        padding-top: 13px; }
  .container .img7 {
    grid-area: img7;
    position: relative;
    overflow: hidden;
    cursor: pointer; }
    .container .img7 img {
      width: 100%;
      height: 100%;
      transition: transform 0.2s, opacity 0.2s;
      /* Ajustar la imagen dentro del contenedor */ }
    .container .img7:hover img {
      transform: scale(1.1);
      opacity: 0.6; }
    .container .img7:hover .overlay {
      opacity: 1; }
    .container .img7 .overlay {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      padding: 10px;
      text-align: center;
      opacity: 0;
      transition: opacity 0.3s; }
      .container .img7 .overlay h3 {
        margin: 0px 130px;
        float: center;
        padding: 13px;
        background-color: rgba(0, 0, 0, 0.558); }
      .container .img7 .overlay p {
        width: 100%;
        padding-top: 13px; }
  .container .img8 {
    grid-area: img8;
    position: relative;
    overflow: hidden;
    cursor: pointer; }
    .container .img8 img {
      width: 100%;
      height: 100%;
      transition: transform 0.2s, opacity 0.2s;
      /* Ajustar la i
            magen dentro del contenedor */ }
    .container .img8:hover img {
      transform: scale(1.1);
      opacity: 0.6; }
    .container .img8:hover .overlay {
      opacity: 1; }
    .container .img8 .overlay {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      padding: 10px;
      text-align: center;
      opacity: 0;
      transition: opacity 0.3s; }
      .container .img8 .overlay h3 {
        margin: 0px 130px;
        float: center;
        padding: 13px;
        background-color: rgba(0, 0, 0, 0.558); }
      .container .img8 .overlay p {
        width: 100%;
        padding-top: 13px; }

.container3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 7px 9px;
  padding: 0px 60px;
  grid-auto-flow: row;
  grid-template-areas: "img1 img7 img4" "img6 img8 img4" "img5 img2 img3"; }
  .container3 .img1 {
    grid-area: img1;
    position: relative;
    overflow: hidden;
    cursor: pointer; }
    .container3 .img1 img {
      width: 100%;
      height: 100%;
      transition: transform 0.2s, opacity 0.2s;
      /* Ajustar la imagen dentro del contenedor */ }
    .container3 .img1:hover img {
      transform: scale(1.1);
      opacity: 0.6; }
    .container3 .img1:hover .overlay {
      opacity: 1; }
    .container3 .img1 .overlay {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      padding: 10px;
      text-align: center;
      opacity: 0;
      transition: opacity 0.3s; }
      .container3 .img1 .overlay h3 {
        margin: 0px 130px;
        float: center;
        padding: 13px;
        background-color: rgba(0, 0, 0, 0.558); }
      .container3 .img1 .overlay p {
        width: 100%;
        padding-top: 13px; }
  .container3 .img2 {
    grid-area: img2;
    position: relative;
    overflow: hidden;
    cursor: pointer; }
    .container3 .img2 img {
      width: 100%;
      height: 100%;
      transition: transform 0.2s, opacity 0.2s;
      /* Ajustar la imagen dentro del contenedor */ }
    .container3 .img2:hover img {
      transform: scale(1.1);
      opacity: 0.6; }
    .container3 .img2:hover .overlay {
      opacity: 1; }
    .container3 .img2 .overlay {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      padding: 10px;
      text-align: center;
      opacity: 0;
      transition: opacity 0.3s; }
      .container3 .img2 .overlay h3 {
        margin: 0px 130px;
        float: center;
        padding: 13px;
        background-color: rgba(0, 0, 0, 0.558); }
      .container3 .img2 .overlay p {
        width: 100%;
        padding-top: 13px; }
  .container3 .img3 {
    grid-area: img3;
    position: relative;
    overflow: hidden;
    cursor: pointer; }
    .container3 .img3 img {
      width: 100%;
      height: 100%;
      transition: transform 0.2s, opacity 0.2s;
      /* Ajustar la imagen dentro del contenedor */ }
    .container3 .img3:hover img {
      transform: scale(1.1);
      opacity: 0.6; }
    .container3 .img3:hover .overlay {
      opacity: 1; }
    .container3 .img3 .overlay {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      padding: 10px;
      text-align: center;
      opacity: 0;
      transition: opacity 0.3s; }
      .container3 .img3 .overlay h3 {
        margin: 0px 130px;
        float: center;
        padding: 13px;
        background-color: rgba(0, 0, 0, 0.558); }
      .container3 .img3 .overlay p {
        width: 100%;
        padding-top: 13px; }
  .container3 .img4 {
    grid-area: img4;
    position: relative;
    overflow: hidden;
    cursor: pointer; }
    .container3 .img4 img {
      width: 100%;
      height: 100%;
      transition: transform 0.2s, opacity 0.2s;
      /* Ajustar la imagen dentro del contenedor */ }
    .container3 .img4:hover img {
      transform: scale(1.1);
      opacity: 0.6; }
    .container3 .img4:hover .overlay {
      opacity: 1; }
    .container3 .img4 .overlay {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      padding: 10px;
      text-align: center;
      opacity: 0;
      transition: opacity 0.3s; }
      .container3 .img4 .overlay h3 {
        margin: 0px 130px;
        float: center;
        padding: 13px;
        background-color: rgba(0, 0, 0, 0.558); }
      .container3 .img4 .overlay p {
        width: 100%;
        padding-top: 13px; }
  .container3 .img5 {
    grid-area: img5;
    position: relative;
    overflow: hidden;
    cursor: pointer; }
    .container3 .img5 img {
      width: 100%;
      height: 100%;
      transition: transform 0.2s, opacity 0.2s;
      /* Ajustar la imagen dentro del contenedor */ }
    .container3 .img5:hover img {
      transform: scale(1.1);
      opacity: 0.6; }
    .container3 .img5:hover .overlay {
      opacity: 1; }
    .container3 .img5 .overlay {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      padding: 10px;
      text-align: center;
      opacity: 0;
      transition: opacity 0.3s; }
      .container3 .img5 .overlay h3 {
        margin: 0px 130px;
        float: center;
        padding: 13px;
        background-color: rgba(0, 0, 0, 0.558); }
      .container3 .img5 .overlay p {
        width: 100%;
        padding-top: 13px; }
  .container3 .img6 {
    grid-area: img6;
    position: relative;
    overflow: hidden;
    cursor: pointer; }
    .container3 .img6 img {
      width: 100%;
      height: 100%;
      transition: transform 0.2s, opacity 0.2s;
      /* Ajustar la imagen dentro del contenedor */ }
    .container3 .img6:hover img {
      transform: scale(1.1);
      opacity: 0.6; }
    .container3 .img6:hover .overlay {
      opacity: 1; }
    .container3 .img6 .overlay {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      padding: 10px;
      text-align: center;
      opacity: 0;
      transition: opacity 0.3s; }
      .container3 .img6 .overlay h3 {
        margin: 0px 130px;
        float: center;
        padding: 13px;
        background-color: rgba(0, 0, 0, 0.558); }
      .container3 .img6 .overlay p {
        width: 100%;
        padding-top: 13px; }
  .container3 .img7 {
    grid-area: img7;
    position: relative;
    overflow: hidden;
    cursor: pointer; }
    .container3 .img7 img {
      width: 100%;
      height: 100%;
      transition: transform 0.2s, opacity 0.2s;
      /* Ajustar la imagen dentro del contenedor */ }
    .container3 .img7:hover img {
      transform: scale(1.1);
      opacity: 0.6; }
    .container3 .img7:hover .overlay {
      opacity: 1; }
    .container3 .img7 .overlay {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      padding: 10px;
      text-align: center;
      opacity: 0;
      transition: opacity 0.3s; }
      .container3 .img7 .overlay h3 {
        margin: 0px 130px;
        float: center;
        padding: 13px;
        background-color: rgba(0, 0, 0, 0.558); }
      .container3 .img7 .overlay p {
        width: 100%;
        padding-top: 13px; }
  .container3 .img8 {
    grid-area: img8;
    position: relative;
    overflow: hidden;
    cursor: pointer; }
    .container3 .img8 img {
      width: 100%;
      height: 100%;
      transition: transform 0.2s, opacity 0.2s;
      /* Ajustar la i
            magen dentro del contenedor */ }
    .container3 .img8:hover img {
      transform: scale(1.1);
      opacity: 0.6; }
    .container3 .img8:hover .overlay {
      opacity: 1; }
    .container3 .img8 .overlay {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      padding: 10px;
      text-align: center;
      opacity: 0;
      transition: opacity 0.3s; }
      .container3 .img8 .overlay h3 {
        margin: 0px 130px;
        float: center;
        padding: 13px;
        background-color: rgba(0, 0, 0, 0.558); }
      .container3 .img8 .overlay p {
        width: 100%;
        padding-top: 13px; }

.main-contacto {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 13px 60px;
  color: white;
  font-family: "Crimson Text", serif; }
  .main-contacto .img-c {
    width: 50%; }
    .main-contacto .img-c img {
      width: 100%; }
  .main-contacto .t-c {
    width: 45%;
    margin: 5px 13px; }
    .main-contacto .t-c .titulo-c {
      font-weight: 400;
      font-size: 39px;
      margin-top: 30px; }
    .main-contacto .t-c .hr {
      width: 2px;
      width: 70%;
      margin: 13px 0px; }
    .main-contacto .t-c .parrafo {
      font-weight: 200;
      margin-right: 20px;
      font-size: 16px; }
      .main-contacto .t-c .parrafo .p-c {
        margin: 30px 0px; }
    .main-contacto .t-c .iconos {
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
      .main-contacto .t-c .iconos a {
        text-align: center;
        text-decoration: none;
        color: white;
        font-size: 23px;
        padding: 10px 15px;
        display: inline-block;
        position: relative; }
        .main-contacto .t-c .iconos a:before, .main-contacto .t-c .iconos a:after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          box-sizing: border-box;
          transform: scale(0);
          transition: 0.5s; }
        .main-contacto .t-c .iconos a:before {
          border-bottom: 2px solid #c6c0c0;
          border-left: 2px solid #c6c0c0;
          transform-origin: 0 100%; }
        .main-contacto .t-c .iconos a:after {
          border-top: 2px solid #c6c0c0;
          border-right: 2px solid #c6c0c0;
          transform-origin: 100% 0%; }
        .main-contacto .t-c .iconos a:hover:after, .main-contacto .t-c .iconos a:hover:before {
          transform: scale(1); }

.footer {
  margin-top: 0px;
  opacity: 0.6;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: transparent; }
  .footer .p-footer {
    text-align: center;
    font-size: 13px;
    line-height: 30px;
    color: white; }
    .footer .p-footer a {
      color: white;
      padding-top: 13px;
      text-decoration: none;
      transition: all 0.2s ease-in-out; }
      .footer .p-footer a:hover {
        text-decoration: underline; }
