.footer {
    margin-top: 0px;
    opacity: 0.6;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: transparent;

    .p-footer {
        text-align: center;
        font-size: 13px;
        line-height: 30px;
        color: rgb(255, 255, 255);

        a {
            color: rgb(255, 255, 255);
            padding-top: 13px;
            text-decoration: none;
            transition: all 0.2s ease-in-out;

            &:hover{
                text-decoration: underline;
            }

        }
    }

}