.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 7px 9px;
    padding: 13px 60px;
    grid-auto-flow: row;
    grid-template-areas:
        "img1 img2 img3"
        "img4 img6 img7"
        "img4 img5 img8";


    .img1 {
        grid-area: img1;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
            transition: transform 0.2s, opacity 0.2s;
            /* Ajustar la imagen dentro del contenedor */
        }

        &:hover {
           
            img {
                transform: scale(1.1);
                opacity: 0.6;
                
            }
            .overlay{
                opacity: 1;
            }
        }
        
        .overlay {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            padding: 10px;
            text-align: center;
            opacity: 0;
            transition: opacity 0.3s;
            h3{ 
                margin: 0px 130px;
                float: center;
                padding: 13px;
                background-color: rgba(0, 0, 0, 0.558);
            }
            p{
                width: 100%;
                padding-top: 13px;
            }

        }
    }

    .img2 {
        grid-area: img2;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
            transition: transform 0.2s, opacity 0.2s;
            /* Ajustar la imagen dentro del contenedor */
        }
        &:hover {
           
            img {
                transform: scale(1.1);
                opacity: 0.6;
                
            }
            .overlay{
                opacity: 1;
            }
        }
        
        .overlay {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            padding: 10px;
            text-align: center;
            opacity: 0;
            transition: opacity 0.3s;
            h3{ 
                margin: 0px 130px;
                float: center;
                padding: 13px;
                background-color: rgba(0, 0, 0, 0.558);
            }
            p{
                width: 100%;
                padding-top: 13px;
            }

        }
         
    }

    .img3 {
        grid-area: img3;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
            transition: transform 0.2s, opacity 0.2s;
            /* Ajustar la imagen dentro del contenedor */
        }
        &:hover {
           
            img {
                transform: scale(1.1);
                opacity: 0.6;
                
            }
            .overlay{
                opacity: 1;
            }
        }
        
        .overlay {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            padding: 10px;
            text-align: center;
            opacity: 0;
            transition: opacity 0.3s;
            h3{ 
                margin: 0px 130px;
                float: center;
                padding: 13px;
                background-color: rgba(0, 0, 0, 0.558);
            }
            p{
                width: 100%;
                padding-top: 13px;
            }

        }
    }

    .img4 {
        grid-area: img4;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
            transition: transform 0.2s, opacity 0.2s;
            /* Ajustar la imagen dentro del contenedor */
        }
        &:hover {
           
            img {
                transform: scale(1.1);
                opacity: 0.6;
                
            }
            .overlay{
                opacity: 1;
            }
        }
        
        .overlay {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            padding: 10px;
            text-align: center;
            opacity: 0;
            transition: opacity 0.3s;
            h3{ 
                margin: 0px 130px;
                float: center;
                padding: 13px;
                background-color: rgba(0, 0, 0, 0.558);
            }
            p{
                width: 100%;
                padding-top: 13px;
            }

        }
    }

    .img5 {
        grid-area: img5;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
            transition: transform 0.2s, opacity 0.2s;
            /* Ajustar la imagen dentro del contenedor */
        }
        &:hover {
           
            img {
                transform: scale(1.1);
                opacity: 0.6;
                
            }
            .overlay{
                opacity: 1;
            }
        }
        
        .overlay {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            padding: 10px;
            text-align: center;
            opacity: 0;
            transition: opacity 0.3s;
            h3{ 
                margin: 0px 130px;
                float: center;
                padding: 13px;
                background-color: rgba(0, 0, 0, 0.558);
            }
            p{
                width: 100%;
                padding-top: 13px;
            }

        }
    }

    .img6 {
        grid-area: img6;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
            transition: transform 0.2s, opacity 0.2s;
            /* Ajustar la imagen dentro del contenedor */
        }
        &:hover {
           
            img {
                transform: scale(1.1);
                opacity: 0.6;
                
            }
            .overlay{
                opacity: 1;
            }
        }
        
        .overlay {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            padding: 10px;
            text-align: center;
            opacity: 0;
            transition: opacity 0.3s;
            h3{ 
                margin: 0px 130px;
                float: center;
                padding: 13px;
                background-color: rgba(0, 0, 0, 0.558);
            }
            p{
                width: 100%;
                padding-top: 13px;
            }

        }
    }

    .img7 {
        grid-area: img7;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
            transition: transform 0.2s, opacity 0.2s;
            /* Ajustar la imagen dentro del contenedor */
        }
        &:hover {
           
            img {
                transform: scale(1.1);
                opacity: 0.6;
                
            }
            .overlay{
                opacity: 1;
            }
        }
        
        .overlay {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            padding: 10px;
            text-align: center;
            opacity: 0;
            transition: opacity 0.3s;
            h3{ 
                margin: 0px 130px;
                float: center;
                padding: 13px;
                background-color: rgba(0, 0, 0, 0.558);
            }
            p{
                width: 100%;
                padding-top: 13px;
            }

        }
    }

    .img8 {
        grid-area: img8;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
            transition: transform 0.2s, opacity 0.2s;
            /* Ajustar la i
            magen dentro del contenedor */
        }
        &:hover {
           
            img {
                transform: scale(1.1);
                opacity: 0.6;
                
            }
            .overlay{
                opacity: 1;
            }
        }
        
        .overlay {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            padding: 10px;
            text-align: center;
            opacity: 0;
            transition: opacity 0.3s;
            h3{ 
                margin: 0px 130px;
                float: center;
                padding: 13px;
                background-color: rgba(0, 0, 0, 0.558);
            }
            p{
                width: 100%;
                padding-top: 13px;
            }

        }
    }



}


.container3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 7px 9px;
    padding: 0px 60px;
    grid-auto-flow: row;
    grid-template-areas:
        "img1 img7 img4"
        "img6 img8 img4"
        "img5 img2 img3";


    .img1 {
        grid-area: img1;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
            transition: transform 0.2s, opacity 0.2s;
            /* Ajustar la imagen dentro del contenedor */
        }
        &:hover {
           
            img {
                transform: scale(1.1);
                opacity: 0.6;
                
            }
            .overlay{
                opacity: 1;
            }
        }
        
        .overlay {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            padding: 10px;
            text-align: center;
            opacity: 0;
            transition: opacity 0.3s;
            h3{ 
                margin: 0px 130px;
                float: center;
                padding: 13px;
                background-color: rgba(0, 0, 0, 0.558);
            }
            p{
                width: 100%;
                padding-top: 13px;
            }

        }
    }

    .img2 {
        grid-area: img2;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
            transition: transform 0.2s, opacity 0.2s;
            /* Ajustar la imagen dentro del contenedor */
        }
        &:hover {
           
            img {
                transform: scale(1.1);
                opacity: 0.6;
                
            }
            .overlay{
                opacity: 1;
            }
        }
        
        .overlay {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            padding: 10px;
            text-align: center;
            opacity: 0;
            transition: opacity 0.3s;
            h3{ 
                margin: 0px 130px;
                float: center;
                padding: 13px;
                background-color: rgba(0, 0, 0, 0.558);
            }
            p{
                width: 100%;
                padding-top: 13px;
            }

        }
    }

    .img3 {
        grid-area: img3;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
            transition: transform 0.2s, opacity 0.2s;
            /* Ajustar la imagen dentro del contenedor */
        }
        &:hover {
           
            img {
                transform: scale(1.1);
                opacity: 0.6;
                
            }
            .overlay{
                opacity: 1;
            }
        }
        
        .overlay {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            padding: 10px;
            text-align: center;
            opacity: 0;
            transition: opacity 0.3s;
            h3{ 
                margin: 0px 130px;
                float: center;
                padding: 13px;
                background-color: rgba(0, 0, 0, 0.558);
            }
            p{
                width: 100%;
                padding-top: 13px;
            }

        }
    }

    .img4 {
        grid-area: img4;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
            transition: transform 0.2s, opacity 0.2s;
            /* Ajustar la imagen dentro del contenedor */
        }
        &:hover {
           
            img {
                transform: scale(1.1);
                opacity: 0.6;
                
            }
            .overlay{
                opacity: 1;
            }
        }
        
        .overlay {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            padding: 10px;
            text-align: center;
            opacity: 0;
            transition: opacity 0.3s;
            h3{ 
                margin: 0px 130px;
                float: center;
                padding: 13px;
                background-color: rgba(0, 0, 0, 0.558);
            }
            p{
                width: 100%;
                padding-top: 13px;
            }

        }
    }

    .img5 {
        grid-area: img5;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
            transition: transform 0.2s, opacity 0.2s;
            /* Ajustar la imagen dentro del contenedor */
        }
        &:hover {
           
            img {
                transform: scale(1.1);
                opacity: 0.6;
                
            }
            .overlay{
                opacity: 1;
            }
        }
        
        .overlay {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            padding: 10px;
            text-align: center;
            opacity: 0;
            transition: opacity 0.3s;
            h3{ 
                margin: 0px 130px;
                float: center;
                padding: 13px;
                background-color: rgba(0, 0, 0, 0.558);
            }
            p{
                width: 100%;
                padding-top: 13px;
            }

        }
    }

    .img6 {
        grid-area: img6;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
            transition: transform 0.2s, opacity 0.2s;
            /* Ajustar la imagen dentro del contenedor */
        }
        &:hover {
           
            img {
                transform: scale(1.1);
                opacity: 0.6;
                
            }
            .overlay{
                opacity: 1;
            }
        }
        
        .overlay {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            padding: 10px;
            text-align: center;
            opacity: 0;
            transition: opacity 0.3s;
            h3{ 
                margin: 0px 130px;
                float: center;
                padding: 13px;
                background-color: rgba(0, 0, 0, 0.558);
            }
            p{
                width: 100%;
                padding-top: 13px;
            }

        }
    }

    .img7 {
        grid-area: img7;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
            transition: transform 0.2s, opacity 0.2s;
            /* Ajustar la imagen dentro del contenedor */
        }
        &:hover {
           
            img {
                transform: scale(1.1);
                opacity: 0.6;
                
            }
            .overlay{
                opacity: 1;
            }
        }
        
        .overlay {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            padding: 10px;
            text-align: center;
            opacity: 0;
            transition: opacity 0.3s;
            h3{ 
                margin: 0px 130px;
                float: center;
                padding: 13px;
                background-color: rgba(0, 0, 0, 0.558);
            }
            p{
                width: 100%;
                padding-top: 13px;
            }

        }
    }

    .img8 {
        grid-area: img8;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
            transition: transform 0.2s, opacity 0.2s;
            /* Ajustar la i
            magen dentro del contenedor */
        }
        &:hover {
           
            img {
                transform: scale(1.1);
                opacity: 0.6;
                
            }
            .overlay{
                opacity: 1;
            }
        }
        
        .overlay {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            padding: 10px;
            text-align: center;
            opacity: 0;
            transition: opacity 0.3s;
            h3{ 
                margin: 0px 130px;
                float: center;
                padding: 13px;
                background-color: rgba(0, 0, 0, 0.558);
            }
            p{
                width: 100%;
                padding-top: 13px;
            }

        }
    }



}

.fullscreen-view {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;

    .fullscreen-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 90%;
        max-height: 90%;
    }

    .close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 30px;
        padding: 5px 10px;
        color: white;
        cursor: pointer;
        &:hover{
            background-color: rgba(193, 190, 190, 0.084);
        }
    }
}